/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.table td, .table th {
    padding: .3rem;
}

.pagination {
    margin: 0px 0;
}

@font-face {
    font-family: 'DDCFont';
    src: url('./KohinoorDevanagari-Regular.otf') format('opentype');
}

* {
    font-family: 'DDCFont';
    font-size: 15px;
}

.jkeyboard .jline ul li {
    font-family: DDCFont;
    font-size: 20px;
    font-weight:bold;
}

.form-control {
    font-size: 15px;
}

.btn {
    font-size: 15px;
}

.fa {
    font-size: 13px;
}

#horizontalmenu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#horizontalmenu li {
    float: left;
    position: relative;
    padding-right: 7px;
    padding-left: 7px;
    display: block;
}

#horizontalmenu li ul {
    display: none;
    position: absolute;
}

#horizontalmenu li:hover ul {
    display: block;
    background: lightgrey;
    height: auto;
    width: 10em;
    z-index: 99999;
}

#horizontalmenu li ul li {
    clear: both;
    border-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

#horizontalmenu a {
    color: black;
}

.tdTempData {
    padding: 0px!important;
    border: none!important;
}

.tdCatalogueLexiconUID {
    cursor:not-allowed;
}

.overflow-wrap-anywhere {
    overflow-wrap:anywhere;
}

.ui-icon-closethick {
    background-position: -97px -131px;
}
.popover {
        max-width: 900px;
}